<header class="container-fluid">
  <div class="detail-div row align-content-center justify-content-center">
    <nav class="col-12 col-md-10">

    </nav>
  </div>
</header>


<section class="sec1 container-fluid">
  <div class="detail-div row align-content-center justify-content-around">
    <div class="columna-1 col-5 col-md-4">

    </div>
    <div class="columna-1 col-5 col-md-4">

    </div>
  </div>
</section>

<section class="sec2 container-fluid">
  <div class="detail-div row align-content-around justify-content-around">
    <div class="columna-2 col-5 col-md-4 col-lg-3">

    </div>
    <div class="columna-2 col-5 col-md-4 col-lg-3">

    </div>
    <div class="columna-2 col-10 col-md-8 col-lg-3">

    </div>
  </div>
</section>


<footer class="container-fluid">

</footer>