*{
    margin: 0;
    padding: 0;
}

.detail-div{
    height: 100%;
}

header{
    height: 120px;
    background-color: rgb(29, 49, 38);
}
nav{
    height: 60px;
    background-color: rgb(247, 244, 233);
}

.sec1{
    height: 250px;
    background-color: rgb(186, 206, 195);
}
.columna-1{
    height: 100px;
    background-color: rgb(229, 149, 96);
}

.sec2{
    height: 350px;
    background-color: rgb(229, 149, 96);
}
.columna-2{
    height: 170px;
    background-color: rgb(186, 206, 195);
}


footer{
    height: 80px;
<<<<<<< HEAD
    background-color: rgb(18, 34, 25);
=======
    background-color: rgb(20, 37, 28);
>>>>>>> testRama
}